In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sqlalchemy import create_engine, Table, Column, MetaData, Integer, String, ForeignKey, Boolean

In [9]:
import os
from main import main

if not os.path.exists('doencas-existentes/casos_obitos_doencas_preexistentes.csv'):
  main()

In [10]:
pre_df = pd.read_csv('doencas-existentes/casos_obitos_doencas_preexistentes.csv', sep=';')
pre_df.head()

,nome_munic,codigo_ibge,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito,asma,cardiopatia,diabetes,doenca_hematologica,doenca_hepatica,doenca_neurologica,doenca_renal,imunodepressao,obesidade,outros_fatores_de_risco,pneumopatia,puerpera,sindrome_de_down
0,Santo André,3547809,78.0,FEMININO,CONFIRMADO,2020-05-11T00:00:00Z,0,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO
1,São Paulo,3550308,49.0,FEMININO,CONFIRMADO,2021-03-16T00:00:00Z,0,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO
2,São Paulo,3550308,33.0,FEMININO,CONFIRMADO,2021-04-14T00:00:00Z,0,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO
3,São Paulo,3550308,50.0,FEMININO,CONFIRMADO,NaN,0,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO,IGNORADO
4,São Paulo,3550308,46.0,FEMININO,CONFIRMADO,2021-03-24T00:00:00Z,1,NÃO,SIM,SIM,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO

In [3]:
engine = create_engine("sqlite:///covid.db")

In [11]:
metadata = MetaData(bind=engine)

Idade = Table('Idade', metadata,
  Column('idade', Integer, primary_key=True),
)
Sexo = Table('Sexo', metadata,
  Column('sexo', String(1), primary_key=True),
)
Municipio = Table('Municipio', metadata,
  Column('nome', String, primary_key=True),
)

Paciente = Table('Paciente', metadata,
  Column('idade', Integer, ForeignKey("Idade.idade"), nullable=False),
  Column('sexo', String(1), ForeignKey("Sexo.sexo"), nullable=False),
  Column('municipio', Integer, ForeignKey("Municipio.id"), nullable=False),
  Column('doencaPre', Boolean, nullable=False),
)
metadata.create_all(engine)

In [12]:
pd.read_sql(
  """
  SELECT * FROM Paciente LIMIT 10
  """,
  engine
)

Empty DataFrame
Columns: [idade, sexo, municipio, doencaPre]
Index: []